
// #D9FF85 - green
// filter: invert(95%) sepia(8%) saturate(2261%) hue-rotate(27deg) brightness(106%) contrast(102%);

// #1C142B - main
// filter: invert(8%) sepia(10%) saturate(4100%) hue-rotate(222deg) brightness(88%) contrast(96%);

// #ffffff
// filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(111%) contrast(102%);

.main-title {
  @include adaptiveValue("font-size", 55, 30,0,1920,480);
  font-weight: 500;
  text-transform: uppercase;

  &_light {
    color: white;
  }
  &_dark {
    color: $mainColor;
    font-weight: 600;
  }
}

summary {
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}

.blur-vector {
  pointer-events: none;
}

.btn {
  border-radius: rem(40);
  border: rem(1) solid $secondColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include adaptiveValue("height", 80, 60,0,1920,480);

  background-color: $secondColor;
  color:#000;
  @include adaptiveValue("font-size", 20,18,0,1920,480 );
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: all .3s ease;
  @media (max-width:$mobileSmall){
     border-radius: rem(36);
     max-width: rem(250);
  }

  @media (any-hover: hover){
    &:hover{
      background-color:#000;
      color: $secondColor;
    }
  }
}