.header {
	height: rem(84);
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 0 0 rem(40) rem(40);
	@media (max-width: em(1440.98)){
		  height: rem(71);
	}
	@media (max-width:$mobile){
		border-radius: 0 0 rem(20) rem(20);
		height: rem(68);
	}
	@media (max-width:$mobileSmall){
		 height: rem(58); 
	}
	@media (max-width:$mobileXS){
		 height: rem(54); 
	}
	// .header__container
	&__container {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("column-gap", 78, 35,0,1350,1200);
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;
		img {
			@include adaptiveValue("width", 70, 55, 0, 1920, 1440);
			@include adaptiveValue("width", 55, 44,3,1440,375);
			height: auto;
		}
	}
	// .header__menu
	&__menu {
	}
}

// -- MENU ------------------------
.menu {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 78, 35,0,1350,1200);
	@media (max-width:em(1015.98)){
		 position: fixed;
		 width: 100%;
		 height: 100%;
		 top: 0; 
		 left: 0;
		 overflow-y: auto;

		 pointer-events: none;
		 opacity: 0;
		 transition: all .3s ease-in-out;

		 background-color: $secondColor;
		 flex-direction: column;
		 align-items: flex-start;
		 justify-content: space-between;
		 padding: rem(130) rem(20) rem(130);
		 row-gap: rem(30);

		 .menu-open & {
			opacity: 1;
			pointer-events: all;
		 }
	}
	@media (max-height: em(500.98)) {
		  justify-content: unset;
	}

	&:before {
		display: none;
		@media (max-width:em(1015.98)){
			display: block;
			content:'';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			pointer-events: none;
		 	opacity: 0;
			transition: all .1s ease .3s;

			border-radius: 0 0 rem(40) rem(40);
			height: rem(71);
			background-color: white;
			.menu-open & {
				opacity: 1;
				transition-delay: 0s;
			 }
		}
		@media (max-width: $mobile){
			 height: rem(68); 
			 border-radius: 0 0 rem(20) rem(20);
		}
		@media (max-width:$mobileSmall){
			height: rem(58);
		}
		@media (max-width: $mobileXS){
			height: rem(54);
		}
	}
	// .menu__body
	&__body {
		@media (max-width:em(1015.98)){
			 position: relative;
			 z-index: -1; 
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: rem(10);
		@include adaptiveValue("column-gap", 78, 35,0,1920,1200);
		@media (max-width:em(1015.98)){
			 flex-direction: column; 
			 row-gap: rem(20);
			 align-items: flex-start;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: em(1015.98)){
			position: relative;
			top: rem(50);
			opacity: 0;
			transition: all .45s ease;

			.menu-open & {
				top: 0;
				opacity: 1;
				&:nth-child(1) {
					transition-delay: 0.0s;
				}
				&:nth-child(2) {
					transition-delay: 0.1s;
				}
				&:nth-child(3) {
					transition-delay: 0.2s;
				}
				&:nth-child(4) {
					transition-delay: 0.3s;
				}
				&:nth-child(5) {
					transition-delay: 0.4s;
				}
				&:nth-child(6) {
					transition-delay: 0.5s;
				}
				&:nth-child(7) {
					transition-delay: 0.6s;
				}
			}
		}
	}
	// .menu__link
	&__link {
		// font-size: rem(18);
		@include adaptiveValue("font-size", 18, 14,0,1920,1440);
		@include adaptiveValue("font-size", 14, 35,3,1016,1015);
		font-weight: 600;
		position: relative;
		transition: all .3s ease;
		&::before {
			content:'';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0%;
			height: rem(1);
			background-color: $mainColor;
			transition: all .3s ease;
		}
		&:hover{
			color: black;
			&::before {
				width: 100%;
			}
		}
		// @media (max-width: em(1015.98)){
		// 	  // font-size: rem(35);
		// }
	}
	// .menu__lng
	&__lng {
	}
	// .menu__btn-link
	&__btn-link {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;

		@include adaptiveValue("height", 52, 41,0,1920,1440);
		@include adaptiveValue("height", 41, 52,3,1016,1015);
		width: 100%;
		max-width: fit-content;
		// font-size: rem(18);
		@include adaptiveValue("font-size", 18, 14,0,1920,1440);
		@include adaptiveValue("font-size", 14, 18,3,1016,1015);
		font-weight: 700;
		border-radius: rem(40);
		@include adaptiveValue("padding-left", 40,25,0,1920,1440);
		@include adaptiveValue("padding-left", 25, 40,3,1016,1015);
		@include adaptiveValue("padding-right", 40, 25,0,1920,1440);
		@include adaptiveValue("padding-right", 25, 40,3,1016,1015);
		border: rem(1) solid transparent;

		background-color: $mainColor;
		transition: all .3s ease;
		@media (any-hover: hover){
			&:hover{
				background-color: rgba(28, 20, 43, 0);
				border-color: $mainColor;
				color: $mainColor;
			}
		}
	}
	// .menu__icon
	&__icon {
	}
}

// -- Burger -----------------
.icon-menu {
	display: none;
	@media (max-width: em(1015.98)) {
		display: block;
		position: relative;
		width: rem(29);
		height: rem(23);
		z-index: 5;
		transition: all 0.3s ease 0s;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(6);
			border-radius: rem(10);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		.menu-open & {
			span {
				width: 0;
			}
			// &::before,
			// &::after {
			// }
			&::before {
				top: 47%;
				transform: rotate(-45deg) translateY(-50%);
			}
			&::after {
				bottom: 45%;
				transform: rotate(45deg) translateY(50%);
			}
		}
	}
}

